.phone-wrapper {
  width: 375px;
  height: 667px;
}

.phone-wrapper iframe {
  height: 100%;
  width: 100%;
}

.phone-wrapper iframe::-webkit-scrollbar {
  display: none;
}

iframe body::-webkit-scrollbar {
  display: none;
}

.phone-inner {
  height: 100%;
  width: 100%;
}

.phone-inner::-webkit-scrollbar {
  height: 100%;
  width: 100%;
}