.phone-wrapper {
  position: relative;
  width: 395px;
  box-shadow: 0 0 10px 5px rgba(49, 49, 49, 0.63);
  border-radius: 40px;
}

.phone-inner {
  width: 375px;
  height: 812px;
  border: 10px solid #000;
  border-radius: 40px;
}

.phone-inner iframe {
  height: 100%;
  width: 100%;
}

.phone-bangs {
  position: absolute;
  top: 0;
  width: 60%;
  height: 40px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background: #000;
  left: 50%;
  transform: translateX(-50%);
}

.phone-bar {
  position: absolute;
  bottom: 40px;
  width: 70%;
  height: 10px;
  border-radius: 100px;
  background: rgba(0, 0, 0, 0.2);
  left: 50%;
  transform: translateX(-50%);
}
